In [44]:
!pip show pandas

Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\Users\Himanshu\miniconda3\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: seaborn

pandas
 - dataset
 - dictionary of items
 - list of dictionary
 - cvs file
 - excel file
 - json file 
 - sql connection
- creating dataframe
- reading data
- manipulating data
- cleaning data 
- visualizing data

In [45]:
import pandas as pd

In [46]:
books= {
    'title':['the art war','the final empire','dragon'],
    'author':['sun tzu','brandon sandron','herry potter'],
    'price':[399,1099,2444],
}
pd.DataFrame(books)

              title           author  price
0       the art war          sun tzu    399
1  the final empire  brandon sandron   1099
2            dragon     herry potter   2444

In [47]:
movies= [
    {'title':"Pk",'dircetor':"rajkumar hirani",'year':2024},
    {'title':'I','director':"shankar",'year':2015},

]
pd.DataFrame(movies)

  title         dircetor  year director
0    Pk  rajkumar hirani  2024      NaN
1     I              NaN  2015  shankar

In [48]:
pd.read_csv('dummy.csv')

   id product  price
0   1   apple     30
1   2  banana     50
2   3  orange     55

In [49]:
pd.read_json('dummy.json')

       name  age           email
0  john doe   24  jane@gmail.com
1  john doe   24  jane@gmail.com

In [50]:
pd.read_excel(r"C:/Users/Himanshu/Downloads/Dummy.xlsx")

   #       NAME COLLAGE
0  1      krish   amity
1  2     tushar   amity
2  3  ziad khan   amity

# selection data in pandas
- dataframe
   - row 
   - iloc - index based location
   - ioc - label based location
 - columms
   - single column selection
   - multiple coulmn selection
   - column selection by data type
- condional selction 
   - boolean indexing
   -

In [51]:
url='https://raw.githubusercontent.com/digipodium/Datasets/main/regression/kc_house_data.csv'
df=pd.read_csv(url)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

first steps after reading the data 
- df.head(nrows) - first n rows
- df .tail(nrows)-last n rows
- df .sample (nrows)- random n roww
- df .info()- summary statistics
- df .describe()- summary statistics
- df . shape()- of rows  and column

In [52]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [53]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [55]:
df.describe() # summary statistics for numerical columns (default)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [56]:
df.describe(include='object')# sumarry statistics for objects column

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [57]:
df.shape

(21613, 21)

In [58]:
print(df.columns.tolist())

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [59]:
# simple sort
df.sort_values('bedrooms')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3119,3918400017,20150205T000000,380000.0,0,0.00,1470,979,3.0,0,2,...,8,1470,0,2006,0,98133,47.7145,-122.356,1470,1399
3467,1453602309,20140805T000000,288000.0,0,1.50,1430,1650,3.0,0,0,...,7,1430,0,1999,0,98125,47.7222,-122.290,1430,1650
6994,2954400190,20140624T000000,1295650.0,0,0.00,4810,28008,2.0,0,0,...,12,4810,0,1990,0,98053,47.6642,-122.069,4740,35061
4868,6896300380,20141002T000000,228000.0,0,1.00,390,5900,1.0,0,0,...,4,390,0,1953,0,98118,47.5260,-122.261,2170,6000
9773,3374500520,20150429T000000,355000.0,0,0.00,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

In [60]:
# style the dataframe to highlight
#df.style.highlight_max(color='lightgreen')

In [61]:
#selecting rows from iloc
df.iloc[100] #idx 100 row

id                    1952200240
date             20140611T000000
price                   850830.0
bedrooms                       3
bathrooms                    2.5
sqft_living                 2070
sqft_lot                   13241
floors                       1.5
waterfront                     0
view                           0
condition                      5
grade                          9
sqft_above                  1270
sqft_basement                800
yr_built                    1910
yr_renovated                   0
zipcode                    98102
lat                      47.6415
long                    -122.315
sqft_living15               2200
sqft_lot15                  4500
Name: 100, dtype: object

In [62]:
# random rows 5rows
df.iloc[[1,59,100,200,300]]# idx [1,59,100,200,300] rows

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
59,8079040320,20150223T000000,430000.0,4,3.00,1850,9976,2.0,0,0,...,8,1850,0,1991,0,98059,47.5059,-122.149,2270,8542
100,1952200240,20140611T000000,850830.0,3,2.50,2070,13241,1.5,0,0,...,9,1270,800,1910,0,98102,47.6415,-122.315,2200,4500
200,3542300060,20150311T000000,210000.0,3,1.00,860,11725,1.0,0,0,...,6,860,0,1943,0,98056,47.5093,-122.184,1300,9514
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508

In [63]:
#random rows , with selected columns
df.iloc[[1,10,20],[0,11,12,3,4]]

            id  grade  sqft_above  bedrooms  bathrooms
1   6414100192      7        2170         3       2.25
10  1736800520      8        1860         3       2.50
20  6300500875      7         860         4       1.75

In [64]:
df.iloc[15:50,:10] # idx 15-49 rows , 0-9 columns

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0
32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5,0,0
33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5,0,0
34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0,0,0
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0
37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0,0,0
38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0,0,0
39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0,0,0
40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0,0,0
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0,0,0
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0
43,9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0,0,0
44,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0,0,0
45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0,0,0
46,8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0,0,0
47,4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0,0,0
48,9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0,0,0
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2

In [65]:
#selecting columns based on indexes 
df.iloc[:,[0,5,10,11]]

               id  sqft_living  condition  grade
0      7129300520         1180          3      7
1      6414100192         2570          3      7
2      5631500400          770          3      6
3      2487200875         1960          5      7
4      1954400510         1680          3      8
...           ...          ...        ...    ...
21608   263000018         1530          3      8
21609  6600060120         2310          3      8
21610  1523300141         1020          3      7
21611   291310100         1600          3      8
21612  1523300157         1020          3      7

[21613 rows x 4 columns]

In [66]:
# updating index column
df.set_index('id')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [67]:
# df.loc[[2487200875,2487200875]]

### single column selection

In [68]:
df['id']

0        7129300520
1        6414100192
2        5631500400
3        2487200875
4        1954400510
            ...
21608     263000018
21609    6600060120
21610    1523300141
21611     291310100
21612    1523300157
Name: id, Length: 21613, dtype: int64

In [69]:
df['price']

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [70]:
df.bedrooms

0        3
1        3
2        2
3        4
4        3
        ..
21608    3
21609    4
21610    2
21611    3
21612    2
Name: bedrooms, Length: 21613, dtype: int64

In [71]:
df[['bedrooms','price','sqft_living']]

       bedrooms     price  sqft_living
0             3  221900.0         1180
1             3  538000.0         2570
2             2  180000.0          770
3             4  604000.0         1960
4             3  510000.0         1680
...         ...       ...          ...
21608         3  360000.0         1530
21609         4  400000.0         2310
21610         2  402101.0         1020
21611         3  400000.0         1600
21612         2  325000.0         1020

[21613 rows x 3 columns]

In [72]:
col_list=['grade','condition','yr_built']
df[col_list]

       grade  condition  yr_built
0          7          3      1955
1          7          3      1951
2          6          3      1933
3          7          5      1965
4          8          3      1987
...      ...        ...       ...
21608      8          3      2009
21609      8          3      2014
21610      7          3      2009
21611      8          3      2004
21612      7          3      2008

[21613 rows x 3 columns]

# boolean indexing
df[df['column]>value]
df[df['column]==value]
df[df['column]!>value]

In [73]:
df[df['price'] > 100000]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [74]:
df[df['condition']<=1]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0,...,5,930,730,1933,0,98052,47.6621,-122.132,2160,11467
380,1726059053,20140916T000000,270000.0,2,1.50,1380,209959,1.0,0,0,...,6,1380,0,1954,0,98011,47.7461,-122.195,3130,19868
397,5175800060,20140623T000000,365000.0,4,2.00,1940,25600,1.0,0,0,...,8,1940,0,1962,0,98006,47.5722,-122.129,2000,10071
1442,5694000710,20141107T000000,352950.0,3,1.00,1760,3000,1.5,0,0,...,6,1760,0,1900,0,98103,47.6598,-122.348,1320,1266
1734,913000340,20150102T000000,252000.0,1,1.00,680,1638,1.0,0,4,...,6,680,0,1910,1992,98116,47.5832,-122.399,1010,3621
2223,3886902445,20150316T000000,535000.0,2,1.00,920,9000,1.0,0,0,...,6,920,0,1954,0,98033,47.6831,-122.189,1760,8400
3004,9187200245,20141231T000000,441000.0,4,1.50,1100,3300,1.0,0,0,...,7,1100,0,1919,0,98122,47.6033,-122.295,2020,4000
3202,723049596,20140509T000000,255000.0,2,1.00,810,7980,1.0,0,0,...,6,810,0,1928,0,98146,47.4890,-122.337,1440,7980
3975,6324000090,20150511T000000,210000.0,2,1.00,990,8140,1.0,0,0,...,6,990,0,1910,0,98116,47.5828,-122.382,2150,5000
4651,859000110,20141002T000000,125000.0,1,1.00,500,7440,1.0,0,0,...,5,500,0,1928,0,98106,47.5252,-122.362,1350,7440
7376,9275200080,20141107T000000,295000.0,3,1.50,720,7450,1.0,0,1,...,5,720,0,1924,0,98126,47.5840,-122.375,2600,7360
7636,4008400515,20150120T000000,190000.0,1,0.75,780,77603,1.0,0,0,...,5,780,0,1945,0,98058,47.4396,-122.104,1750,30847
12306,2570600140,20150128T000000,196000.0,3,2.25,1510,9600,1.0,0,0,...,7,1090,420,1966,0,98028,47.7758,-122.238,1870,10681
12453,4022900951,20150402T000000,305000.0,2,1.00,910,22725,1.0,0,0,...,6,910,0,1926,0,98155,47.7712,-122.299,2000,14566
12668,4006000281,20140729T000000,227000.0,3,1.75,2380,12681,1.0,0,0,...,6,1380,1000,1918,0,98118,47.5294,-122.279,1720,6377
13628,2023049218,20140716T000000,105500.0,2,1.00,930,7740,1.0,0,0,...,5,930,0,1932,0,98148,47.4611,-122.324,1620,8584
13629,2023049218,20150316T000000,445000.0,2,1.00,930,7740,1.0,0,0,...,5,930,0,1932,0,98148,47.4611,-122.324,1620,8584
14987,9187200095,20141202T000000,432500.0,6,2.00,3080,5500,2.0,0,0,...,7,3080,0,1900,0,98122,47.6031,-122.296,1830,5000
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
15337,7849200635,20140630T000000,235000.0,2,1.00,900,28800,1.0,0,0,...,6,900,0,1928,0,98065,47.5245,-121.822,1360,7200
15371,7936500221,20150114T000000,658000.0,2,1.00,1010,14244,1.0,1,4,...,5,1010,0,1926,0,98136,47.5476,-122.399,1820,15792
15712,3089000005,20140724T000000,150000.0,2,1.00,850,54000,1.5,0,0,...,4,850,0,1950,0,98023,47.2959,-122.377,1550,14440
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
16893,3501100050,20141210T000000,125000.0,3,1.00,1230,4800,1.5,0,0,...,6,1230,0,1916,0,98117,47.6941,-122.365,1230,4800
16942,5015001680,20140611T000000,427000.0,4,1.00,1860,4736,1.5,0,0,...,7,1860,0,1901,0,98112,47.6251,-122.300,1800,4000
17805,2206900065,20150501T000000,380000.0,3,1.50,1430,11173,1.0,0,0,...,7,1430,0,1955,0,98006,47.5734,-122.153,1520,11659
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,7,1200,0,1908,0,98116,47.5883,-122.384,3290,6000
18645,7942600910,20141216T000000,575000.0,1,1.00,1310,8667,1.5,0,0,...,6,1310,0,1918,0,98122,47.6059,-122.313,1130,4800
18876,9808700025,20150211T000000,1500000.0,3,1.50,1910,21374,1.0,0,0,...,8,1910,0,1955,0,98004,47.6453,-122.214,2850,16167
19452,3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

In [75]:
#5 star reated houses + 2 floors 
df[(df['condition']==5) & (df['floors']==2)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
62,5072410070,20141021T000000,505000.0,3,1.75,2519,8690,2.0,0,0,...,8,2519,0,1973,0,98166,47.4428,-122.344,2500,9500
128,2331300505,20140613T000000,822500.0,5,3.50,2320,4960,2.0,0,0,...,7,1720,600,1926,0,98103,47.6763,-122.352,1700,4960
182,3127200041,20140613T000000,589000.0,4,3.00,2440,9600,2.0,0,0,...,7,2440,0,1961,0,98034,47.7044,-122.200,2290,9600
282,7424700045,20150513T000000,2050000.0,5,3.00,3830,8480,2.0,0,1,...,9,2630,1200,1905,1994,98122,47.6166,-122.287,3050,7556
294,9297300045,20140709T000000,550000.0,3,2.00,1970,4166,2.0,0,3,...,8,1270,700,1929,0,98126,47.5717,-122.375,2390,4166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19433,3528900330,20140707T000000,1450000.0,4,3.25,3770,4103,2.0,0,0,...,9,2710,1060,1925,0,98109,47.6410,-122.349,2560,4160
19442,6822100155,20140512T000000,630000.0,4,2.00,1770,6000,2.0,0,0,...,7,1770,0,1911,1981,98199,47.6493,-122.401,1340,6000
19493,3529300330,20141107T000000,370000.0,3,2.50,1980,6922,2.0,0,0,...,8,1980,0,1991,0,98031,47.3960,-122.184,2090,7697
19522,4137020820,20141027T000000,268000.0,4,3.00,1840,7510,2.0,0,0,...,8,1840,0,1988,2013,98092,47.2595,-122.218,1650,7957
19562,3271800910,20140701T000000,1356920.0,4,3.50,4270,5800,2.0,0,3,...,10,3170,1100,1937,0,98199,47.6474,-122.411,3100,5800

In [76]:
f1 = df ['price'] > 1000000
f2 = df['condition'] == 5
f3 = df['floors']== 2
df[f1 & f2 & f3]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
282,7424700045,20150513T000000,2050000.0,5,3.00,3830,8480,2.0,0,1,...,9,2630,1200,1905,1994,98122,47.6166,-122.287,3050,7556
312,1860600135,20140502T000000,2384000.0,5,2.50,3650,9050,2.0,0,4,...,10,3370,280,1921,0,98119,47.6345,-122.367,2880,5400
551,1373800295,20141013T000000,1450000.0,3,3.00,4380,6320,2.0,0,3,...,10,3580,800,1952,0,98199,47.6452,-122.411,3080,7680
639,6379500640,20150409T000000,1120000.0,3,1.50,3000,5750,2.0,0,0,...,9,2000,1000,1924,0,98116,47.5821,-122.390,1820,5750
669,7613700521,20140802T000000,1250000.0,4,3.25,3160,5000,2.0,0,0,...,9,2360,800,1965,0,98105,47.6597,-122.274,2220,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19194,1337800220,20140908T000000,1003000.0,4,2.50,2230,3600,2.0,0,0,...,8,1630,600,1906,0,98112,47.6304,-122.309,2410,4800
19196,1525059198,20140521T000000,1185000.0,3,2.25,2760,40946,2.0,0,0,...,10,2760,0,1978,0,98005,47.6501,-122.164,3030,42253
19270,6613000375,20150317T000000,1550000.0,4,3.50,3260,5000,2.0,0,0,...,9,2630,630,1937,0,98105,47.6598,-122.273,2600,5000
19433,3528900330,20140707T000000,1450000.0,4,3.25,3770,4103,2.0,0,0,...,9,2710,1060,1925,0,98109,47.6410,-122.349,2560,4160
19562,3271800910,20140701T000000,1356920.0,4,3.50,4270,5800,2.0,0,3,...,10,3170,1100,1937,0,98199,47.6474,-122.411,3100,5800

In [77]:
df[f1 & f2 & f3].reset_index() .style.background_gradient(cmap='GnBu')

In [78]:
df[f1 & f2 & f3].reset_index() .style.set_properties(color='blue',subset=['price'])

In [79]:
# query 
df.query('price>25000')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [80]:
df.query('price>30000& condition == 4')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20697,3449000200,20150508T000000,360000.0,4,1.75,2010,12188,1.0,0,0,...,7,1150,860,1960,0,98059,47.5013,-122.147,1720,8475
21079,3449000010,20150312T000000,294570.0,3,1.00,1140,8400,1.0,0,0,...,7,1140,0,1960,0,98059,47.5022,-122.144,1400,9000
21212,7234600098,20140905T000000,552100.0,3,3.00,1330,1379,2.0,0,0,...,8,1120,210,2005,0,98122,47.6126,-122.313,1810,1770
21332,9266700190,20150511T000000,245000.0,1,1.00,390,2000,1.0,0,0,...,6,390,0,1920,0,98103,47.6938,-122.347,1340,5100
21583,2025049203,20140610T000000,399950.0,2,1.00,710,1157,2.0,0,0,...,7,710,0,1943,0,98102,47.6413,-122.329,1370,1173

In [81]:
df.query('price>250000 & condition == 5').sort_values('price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
18587,8857600360,20140828T000000,250200.0,3,1.50,1180,7384,1.0,0,0,...,7,1180,0,1959,0,98032,47.3838,-122.287,1150,7455
10724,4279900140,20141001T000000,251000.0,4,2.00,1650,5974,1.0,0,0,...,7,860,790,1972,0,98178,47.5008,-122.257,1940,6001
3635,5602000025,20150226T000000,251000.0,3,2.00,1200,10212,1.5,0,0,...,6,1200,0,1949,0,98022,47.2060,-121.998,1280,10212
11126,1761300340,20140610T000000,251750.0,3,2.00,1320,7200,1.0,0,0,...,7,1320,0,1975,0,98031,47.3947,-122.174,1540,7200
1145,3352402236,20141215T000000,252500.0,3,2.00,1150,6000,1.0,0,0,...,7,1150,0,1956,0,98178,47.4980,-122.263,1980,6360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
15258,1732800780,20150212T000000,3065000.0,5,3.00,4150,7500,2.5,0,4,...,11,3510,640,1909,0,98119,47.6303,-122.362,2250,4050
7191,7159200005,20140507T000000,3200000.0,7,4.50,6210,8856,2.5,0,2,...,11,4760,1450,1910,0,98109,47.6307,-122.354,2940,5400
18477,1346300150,20141020T000000,3300000.0,8,4.00,7710,11750,3.5,0,0,...,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810

## manipulation and cleaning data
 - removing columns
 - reaming columns
 - adding columns
 - changing data types
 - handling missing values
 - dropping mkissing values
 - using apply () method

In [82]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [83]:
cols_to_drop=['sqft_living15','sqft_lot15']
df=df.drop(columns=cols_to_drop)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299

In [84]:
df.drop(labels=[4279900140,8857600360])

KeyError: '[4279900140, 8857600360] not found in axis'

In [ ]:
df.drop_duplicates(subset=['date']) #always use a subset

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17296,4047200825,20141011T000000,400000.0,1,1.00,1390,60984,1.0,0,0,3,6,1390,0,1960,0,98019,47.7652,-121.903
18014,2064800880,20150201T000000,301500.0,3,1.00,1410,7419,1.0,0,0,3,7,1050,360,1969,0,98056,47.5340,-122.173
18794,126059310,20141130T000000,1000000.0,3,2.25,3040,52302,1.0,0,0,3,9,3040,0,2005,0,98072,47.7635,-122.112
18898,984220330,20140824T000000,325000.0,4,2.50,1820,9161,1.0,0,0,4,7,1220,600,1975,0,98058,47.4333,-122.168
20749,2827100075,20140727T000000,286308.0,2,1.50,1220,1036,3.0,0,0,3,7,1220,0,2006,0,98133,47.7348,-122.347

In [ ]:
df.dropna() #remove rows with any NaN VALUES

In [ ]:
# renaming columns
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long'],
      dtype='object')

In [ ]:
name_updates= {
    'lat':'latitude',
    'long':'longitude',
}
df.rename(columns=name_updates)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,latitude,longitude
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299

In [ ]:
# dummy column add
df['dummy']= "house_price" # repeats same value in all rows
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,dummy
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,house_price
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,house_price
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,house_price
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,house_price
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,house_price
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,house_price
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,house_price
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,house_price
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,house_price
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,house_price

In [ ]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,dummy
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,house_price
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,house_price
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,house_price
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,house_price
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,house_price
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,house_price
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,house_price
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,house_price
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,house_price
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,house_price

In [ ]:
df['age']=2024-df['yr_built']
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,dummy,age
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,house_price,69
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,house_price,73
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,house_price,91
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,house_price,59
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,house_price,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,house_price,15
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,house_price,10
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,house_price,15
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,house_price,20
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,house_price,16

In [ ]:
# rearranging columns
print(df.columns.tolist())

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'dummy', 'age']

In [ ]:
# rearrange columns as per your choice
columns_seq=['dummy', 'date', 'price', 
                     'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
                       'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 
                       'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'dummy', 'age'
                       ]
df=df[columns_seq]
df.head()

,dummy,dummy,dummy,dummy,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,...,yr_built,yr_renovated,zipcode,lat,long,dummy,dummy,dummy,dummy,age
0,7129300520,house_price,7129300520,house_price,20141013T000000,221900.0,3,1.00,1180,5650,...,1955,0,98178,47.5112,-122.257,7129300520,house_price,7129300520,house_price,69
1,6414100192,house_price,6414100192,house_price,20141209T000000,538000.0,3,2.25,2570,7242,...,1951,1991,98125,47.7210,-122.319,6414100192,house_price,6414100192,house_price,73
2,5631500400,house_price,5631500400,house_price,20150225T000000,180000.0,2,1.00,770,10000,...,1933,0,98028,47.7379,-122.233,5631500400,house_price,5631500400,house_price,91
3,2487200875,house_price,2487200875,house_price,20141209T000000,604000.0,4,3.00,1960,5000,...,1965,0,98136,47.5208,-122.393,2487200875,house_price,2487200875,house_price,59
4,1954400510,house_price,1954400510,house_price,20150218T000000,510000.0,3,2.00,1680,8080,...,1987,0,98074,47.6168,-122.045,1954400510,house_price,1954400510,house_price,37

In [ ]:
df.drop(['dummy'])
df.head()

KeyError: "['dummy'] not found in axis"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   dummy          21613 non-null  int64
 1   dummy          21613 non-null  object
 2   dummy          21613 non-null  int64
 3   dummy          21613 non-null  object
 4   date           21613 non-null  object
 5   price          21613 non-null  float64
 6   bedrooms       21613 non-null  int64
 7   bathrooms      21613 non-null  float64
 8   sqft_living    21613 non-null  int64
 9   sqft_lot       21613 non-null  int64
 10  floors         21613 non-null  float64
 11  waterfront     21613 non-null  int64
 12  view           21613 non-null  int64
 13  condition      21613 non-null  int64
 14  grade          21613 non-null  int64
 15  sqft_above     21613 non-null  int64
 16  sqft_basement  21613 non-null  int64
 17  yr_built       21613 non-null  int64
 18  yr_renovated   21613 non-null  int64
 19  zipcode        21613 non-null  int64
 20  lat            21613 non-null  float64
 21  long           21613 non-null  float64
 22  dummy          21613 non-null  int64
 23  dummy          21613 non-null  object
 24  dummy          21613 non-null  int64
 25  dummy          21613 non-null  object
 26  age            21613 non-null  int64
dtypes: float64(5), int64(17), object(5)
memory usage: 4.5+ MB

In [ ]:
df.floors.astype('int')

0        1
1        2
2        1
3        1
4        1
        ..
21608    3
21609    2
21610    2
21611    2
21612    2
Name: floors, Length: 21613, dtype: int64

In [ ]:
df.floors=df.floors.astype('int')
df.head()

,dummy,dummy,dummy,dummy,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,...,yr_built,yr_renovated,zipcode,lat,long,dummy,dummy,dummy,dummy,age
0,7129300520,house_price,7129300520,house_price,20141013T000000,221900.0,3,1.00,1180,5650,...,1955,0,98178,47.5112,-122.257,7129300520,house_price,7129300520,house_price,69
1,6414100192,house_price,6414100192,house_price,20141209T000000,538000.0,3,2.25,2570,7242,...,1951,1991,98125,47.7210,-122.319,6414100192,house_price,6414100192,house_price,73
2,5631500400,house_price,5631500400,house_price,20150225T000000,180000.0,2,1.00,770,10000,...,1933,0,98028,47.7379,-122.233,5631500400,house_price,5631500400,house_price,91
3,2487200875,house_price,2487200875,house_price,20141209T000000,604000.0,4,3.00,1960,5000,...,1965,0,98136,47.5208,-122.393,2487200875,house_price,2487200875,house_price,59
4,1954400510,house_price,1954400510,house_price,20150218T000000,510000.0,3,2.00,1680,8080,...,1987,0,98074,47.6168,-122.045,1954400510,house_price,1954400510,house_price,37

In [ ]:
df.price=df.price.astype('int')
df.head()

,dummy,dummy,dummy,dummy,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,...,yr_built,yr_renovated,zipcode,lat,long,dummy,dummy,dummy,dummy,age
0,7129300520,house_price,7129300520,house_price,20141013T000000,221900,3,1.00,1180,5650,...,1955,0,98178,47.5112,-122.257,7129300520,house_price,7129300520,house_price,69
1,6414100192,house_price,6414100192,house_price,20141209T000000,538000,3,2.25,2570,7242,...,1951,1991,98125,47.7210,-122.319,6414100192,house_price,6414100192,house_price,73
2,5631500400,house_price,5631500400,house_price,20150225T000000,180000,2,1.00,770,10000,...,1933,0,98028,47.7379,-122.233,5631500400,house_price,5631500400,house_price,91
3,2487200875,house_price,2487200875,house_price,20141209T000000,604000,4,3.00,1960,5000,...,1965,0,98136,47.5208,-122.393,2487200875,house_price,2487200875,house_price,59
4,1954400510,house_price,1954400510,house_price,20150218T000000,510000,3,2.00,1680,8080,...,1987,0,98074,47.6168,-122.045,1954400510,house_price,1954400510,house_price,37

In [88]:
from datetime import  datetime 
datestr= '20141013T000000'
date=datetime.strptime(datestr,'%y%m%dt%H%m%S')
print(date,type(date))

error: redefinition of group name 'm' as group 5; was group 2 at position 107

In [ ]:
#testing an opration
df.date.apply(lambda d:datetime.strptime(d,'%Y%m'))

In [ ]:
import numpy as np

In [85]:
fake_df=pd.DataFrame({
    'A':[1,2,3,4,5],
    'B':[6,7,np.nan,9,10],
    'C':[[11,12,13,14,None]],
    'D':[16,17,np.nan,20,np.nan],
})
fake_df

ValueError: All arrays must be of the same length